@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background-image: url( https://i.pinimg.com/236x/2c/ad/b4/2cadb4e88b4aad3b8a036da6ac1cfabd--color-palette-blue-color-palettes.jpg);
        background-size: 100%
    }
</style>
<div class="jumbotron">
    <h3 style="font-family:'Agency FB';color:green;">Traning System UoG</h3>
    <br />
    <center><img style="width:80%;" src="https://leverageedu.com/blog/wp-content/uploads/2019/11/Modern-Education.png" /></center>
    <br /><br />
    <p><a href="https://cms.greenwich.edu.vn/" class="btn btn-primary btn-lg">CMS systems &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>